{% extends 'base.html' %}

{% block content %}

{% if error %}
<span class="oi oi-warning"></span>
{{ error }}
<br />
<br />
{% endif %}

<h3>Sign Up</h3>

<form method="POST" action="{% url 'signup' %}">
	{% csrf_token %}

	Username:
	<br />
	<input type="text" name="username" />
	<br />

	Password:
	<br />
	<input type="password" name="password1" />
	<br />
	Confirm Password:
	<br />
	<input type="password" name="password2" />
	<br />
	<br />

	<button class="btn btn-primary" type="sumbit" style="height:40px;width:100px" >Sign up!</button>

	<br />
	<br />
	<p><span class="oi oi-person"></span> already have an account?<a href="{% url 'login' %}"> please login</a></p>

</form>

{% endblock %}